/*--------------------------------------
    1.Section - Text first row elements
    2.Section - Second row box elements
    3.Devices - @MEDIA
--------------------------------------*/

    /* Text first row elements */
#packages_price {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}
#packages_price > .container > .row > .col {
    text-align: center;
}

#packages_price > .container > .row > .col > h2 {
    text-transform: uppercase;
    margin: 101px 0 27px 0;
    font-size: 63px;    
}

#packages_price .separator {
    display: block;
    margin: 0 auto;
    width: 151px;
    height: 2px;
    margin-bottom: 28px;
}
#packages_price .separator + div > p {
    margin: 0 0 11px 0;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.3px;
    position: relative;
    left: 10px;
}

    /* Section - Second row box elements */
#packages_price > .container > div[class="dustgrey_bac"] + div {
    display: inline-flex;
    margin: 0 0 90px 0;
}
#packages_price > .container > div[class="dustgrey_bac"] + div > .col {
    z-index: 1000;
    margin: 0 30px 0 30px;
}
#packages_price > .container > .row + div[class="dustgrey_bac"] {
    width: 1100px;
    height: 1px;
    position: relative;
    z-index: 100;
}
#packages_price > .container > div.row:first-child + div[class="dustgrey_bac"] {
    top: 12px;
    margin: 0 auto;
}
#packages_price > .container > div:last-child {
    bottom: 102px;
    margin: 0 auto
}    
#packages_price > .container > div[class="dustgrey_bac"] + div > .col > div:first-child > p {
    display: inline-block;
    font-size: 32px;
    font-weight: 500;
    margin: 59px 0 32px 0;
}
#packages_price > .container > div[class="dustgrey_bac"] + div > .col > div:first-child + div > .box_separator {
    display: inline-block;
    width: 200px;
    height: 1px;
    margin: 0 0 26px 0;
}
#packages_price > .container > div[class="dustgrey_bac"] + div > .col > div[class="price"] > p[class^="dot"] {
    width: 2px;
    height: 3px;
    display: inline-block;
    position: relative;
}
#packages_price > .container > div[class="dustgrey_bac"] + div > .col > div[class="price"] > p[class^="dot"]:first-child {
    bottom: 15px;
    left: 5px;
}
#packages_price > .container > div[class="dustgrey_bac"] + div > .col > div[class="price"] > p[class^="dot"] + p {
    bottom: 4px;
    left: 0px;
}
#packages_price > .container > div[class="dustgrey_bac"] + div > .col > div[class="price"] > p[class^="dot"] + p[class="dolar"] {
    height: 1px;
    display: inline-block;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: 6px;
    left: -8px;
}    
#packages_price > .container > div[class="dustgrey_bac"] + div > .col > div[class="price"] > p[class="dolar"] + p {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin: 0 0 7px 0;
    position: relative;
    right: 10px;
}
#packages_price > .container > div[class="dustgrey_bac"] + div > .col > div[class="price"] > div {
    text-align: center;
}
#packages_price > .container > div[class="dustgrey_bac"] + div > .col > div[class="price"] > div > p {
    display: inline-block;
    width: 39px;
    height: 16px;
    position: relative;
    bottom: 4px;
    font-weight: 400;    
    font-family: 'Ubuntu', sans-serif;
    margin: 0 0 30px 0; 
 }
#packages_price > .container > div[class="dustgrey_bac"] + div > .col > div[class="price"] + div > div {
    display: inline-block;
    width: 200px;
    height: 1px;
    margin: 0 0 26px 0; 
}
#packages_price > .container > div[class="dustgrey_bac"] + div > .col > div[class="price"] + div > div > p {
    display: inline-block;
    width: 30px;
    height: 8px;
    position: relative;
    bottom: 9px;
} 
#packages_price > .container > .row > .col > div > p.text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    margin: 0 0 32px 0;
    text-align: center;
}
#packages_price > .container > div[class="dustgrey_bac"] + div > .col > div > div[class="box_separator last dustgrey_bac"] {
    display: inline-block;
    width: 200px;
    height: 1px;
    margin: 0 0 19px 0;
}
#packages_price > .container > div[class="dustgrey_bac"] + div > .col > div[class="price_btn"] {
    width: 155px;
    height: 49px;
    display: inline-block;
    border: 2px solid #39b4b2;
    border-radius: 26px;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bolder;
    padding: 12px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 0 29px 0;
}

  /*Devices - @MEDIA*/  
@media only screen and (min-width:  1200px) {
      
}
@media only screen and (min-width:  992px) {
        
}
@media only screen and (min-width:  768px) {
    
}
@media only screen and (max-width:  767px) {
    
}